
.search-container{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px; /* Soft edges */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    padding: 30px;
    height:100%;    
    width: 100%;
    
}

.semester-block {
    display: flex;
}

.course-container{
    width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.specialisation-name{
    color: black;
    background-color: white;
    font-weight: bold;
}

.select-course{
    color: #3c3c3c;
    font-size: 30px;
    font-weight: 500;      
}

.course-block {
    background-color: #d9d9d967;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    margin: 20px 40px 0px 40px;
    border-style: solid;
    border-radius: 10px;
    border-width:2px;
}

.course-block:hover{
    background-color: #006dae;
    text-decoration: underline;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}


.submit_button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006dae;
  width: 100px;
  max-width: 300px; /* Set a maximum width for the button */
  height: 40px;
  color: white;
  border-style: none;
  border-radius: 20px; /* Make the button rounded like a pill */
  padding: 0 1.5rem; /* Adjust padding for an appealing look */
}

.submit_button:hover{
    background-color: #0289d4;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    max-width: 300px; /* Set a maximum width for the button */
    height: 40px;
    color: #0165AC;
    border-style: solid;
    border-color: #0165AC;
    border-radius: 20px; /* Make the button rounded like a pill */
    padding: 0 1.5rem; /* Adjust padding for an appealing look */
  }
  
.back-button:hover{
    color: #004B80;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: underline;
}

.bottom-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;
}