@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.navbar-container{
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    background-color: #004B80;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0px 415px 0px 500px;
    font-size: 11px;
    position: relative;
    color: white; 

}

a:visited { 
    color: white; 
}
   
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  