.hometop {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.homemain {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    height: calc(100vh - 290px);
}

.homemain>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homemain>div>div:nth-child(1) {
    width: 10%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    border-right: 3px solid #000;
}

.homemain>div .homecon {
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid #d9d9d9;
}

.homemain>div .homecon>div:nth-child(1) {
    width: 20%;

}

.homemain>div .homecon>div:nth-child(1)>div {
    height: 124px;
    line-height: 124px;
    text-align: center;
}

.homemain>div .homecon>div:nth-child(2) {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homemain>div .homecon>div:nth-child(2)>div {
    width: 22%;
    height: 100px;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    text-align: center;
}

.homebottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.homebottom>div:nth-child(1) {
    width: 15%;
    text-align: right;

}