@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.box-container{
  font-family: 'Inter', sans-serif;
  width: 800px;
  height: 300px;
  background-color: aqua;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 160px;
  height: 75px;
  background-color: #eeece1;
  margin: 15px;
  border: 1.5px solid rgba(0, 0, 0, 0);
}

.box:hover{
  border: 1.5px solid black;
  transition: border 0.5s;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.unit-code{
  font-weight: 700;
  font-size: 15px;
}

.unit-title{
  
  font-size: 13px;
}

.unit-info{
  color: black;
  font-size: medium;
  background-color: rgba(245, 245, 220, 0);
  border: 0;

}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-body{
  width: 500px;
  height: 500px;
  padding: 30px;
  overflow: auto;
  background-color: white;
  margin: auto;
}

.unit-modal{
  color: black;
  font-weight: bold;
  background-color: #eeece1;
  border-style: none;
  height: 20px;
  width: 20px;

}

